@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=Poppins:wght@300&display=swap');

.table .thead-dark th{
    background-color: rgb(113, 238, 10);
}

.tables{
    padding: 1.5rem;
}

.tables #orden{
    padding: 1.5rem;
    background-color: rgb(240, 213, 179);
    border: 3rem;
    width: 30%;
}

#orden{
    justify-content: space-between;
}

.tables #orden .imagen{
    justify-content: center;
}

.tables #orden .id{
    justify-content: right;
    font-family: 'Acme', sans-serif;
}

.tables #orden .codigo{
    justify-content: end;
    font-family: 'Acme', sans-serif;
}

.tables #orden .nombre{
    justify-content: end;
    font-family: 'Acme', sans-serif;
}

.tables #orden .cantidad{
    font-family: 'Acme', sans-serif;
}

.tables #orden .precio{
    font-family: 'Acme', sans-serif;
}

.tables #orden .botones{
    font-family: 'Acme', sans-serif;
}

input[type=file] {
    width: 100%;
    min-height: 2.5rem;
    color: #444;
    padding: 5px;
    background: #e5e5e5;
    border-radius: 50px;
    justify-content: left;
    align-items: center;
     }
    
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #545454;
    padding: 0 1rem;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    }

input[type=file]::file-selector-button:hover {
    background: #66aff0;
}


    
    