.sec{
    background-color: #d1cbf9;
}
.sec2{
    background-color: #d1cbf9;
}

.secu{
    background-color: #d1cbf9;
}
.secu{
    background-color: #d1cbf9;
}
.trc1{
    background-color:#6b8dff;
    font-family: 'Acme', sans-serif;
}